body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

textarea {
    width: 80%;
    height: 80px;
}

button {
    padding: 8px 15px;
    margin: 10px;
}

.post {
    background: #222;
    margin: 15px auto;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}
